*{
    background-color: aqua;
}
body{
    padding: 5px;
    margin: 5px;
}
.container{
    padding: 5px;
    margin: 5px;
}
input[type=text], select, textarea {
    width: 20%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }